{{#link-to 'projects'}}Back to list{{/link-to}} <br>

Name: {{input value=name}} <br/>

Description: {{input value=description}} <br/>

<label>
  {{input checked=provisional type="checkbox"}}
  Provisional
</label>
<br/>

<label>
{{input checked=investmentFridays type="checkbox"}}
  Investment Fridays
</label>
<br/>

Dates: {{edit-date value=startDate}} - {{edit-date value=endDate}} <br/>

Staffing Office: <br/>
{{#each officeCheckbox in selectedOffices}}
  <label>
    {{input checked=officeCheckbox.selected type="checkbox"}}
    {{officeCheckbox.name}}
  </label>
{{/each}}
<br/>

Rates: <br/>
<table>
  <thead>
    <tr>
      <th>Role</th>
      <th>Rate</th>
      <th>Typical Allocation</th>
      <th>Typical Staff</th>
      <th>Equivalent Hourly</th>
      <th>Equivalent Day Rate</th>
      <th>Typical Biweekly Invoice</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Developer</td>
      {{#with typicalInvoice.developer}}
        <td>{{input value=rate}}</td>
        <td>{{input value=allocationPercent}}</td>
        <td>{{input value=count}}</td>
        <td>{{equivalentHourlyRate}}</td>
        <td>{{equivalentDayRate}}</td>
        <td>{{biweeklyInvoice}}</td>
      {{/with}}
    </tr>
    <tr>
      <td>Designer</td>
      {{#with typicalInvoice.designer}}
        <td>{{input value=rate}}</td>
        <td>{{input value=allocationPercent}}</td>
        <td>{{input value=count}}</td>
        <td>{{equivalentHourlyRate}}</td>
        <td>{{equivalentDayRate}}</td>
        <td>{{biweeklyInvoice}}</td>
      {{/with}}
    </tr>
    <tr>
      <td>Principal</td>
      {{#with typicalInvoice.principal}}
        <td>{{input value=rate}}</td>
        <td>{{input value=allocationPercent}}</td>
        <td>{{input value=count}}</td>
        <td>{{equivalentHourlyRate}}</td>
        <td>{{equivalentDayRate}}</td>
        <td>{{biweeklyInvoice}}</td>
      {{/with}}
    </tr>
    <tr>
      <td>Product Manager</td>
      {{#with typicalInvoice.productManager}}
        <td>{{input value=rate}}</td>
        <td>{{input value=allocationPercent}}</td>
        <td>{{input value=count}}</td>
        <td>{{equivalentHourlyRate}}</td>
        <td>{{equivalentDayRate}}</td>
        <td>{{biweeklyInvoice}}</td>
      {{/with}}
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Total:</td>
      <td>{{typicalInvoice.total}}</td>
    </tr>
  </tbody>
</table>

<button {{action 'save'}}>Save</button>
<button {{action 'cancel'}}>Cancel</button>
