{{#unless errors.isEmpty}}
  {{#each error in errors}}
    {{error.message}}
  {{/each}}
{{/unless}}

<div class="projectForm">


{{#link-to 'projects'}}Back to list{{/link-to}} <br>

<div>
<h2>Name</h2> {{#each error in errors.name}}
  <span style="color: red;">{{error.message}}</span>
{{/each}}
{{input value=name}}

<span class="description"><h2>Description</h2> {{textarea value=description}}</span>


{{#if billable}}
  <label>
    {{input checked=provisional type="checkbox"}}
    Provisional
  </label>
  <label>
  {{input checked=investmentFridays type="checkbox"}}
    Investment Fridays
  </label>
  <label class="weeksInvoiced">
  <span>Weeks per Invoice</span>
  {{input value=numWeeksPerInvoice type="number" placeholder="1"}}
  </label>
{{/if}}


</div>
<div>
  <h2>Start Date/End Date</h2>
  <span class="date">{{edit-date value=startDate}} <span style="display: inline-block; width: 10%;  padding: 0.5rem 0; float: left; text-align: center;">–</span> {{edit-date value=endDate}}</span> <br/>

  {{#if billable}}
    <h2>Selling Office</h2>
    {{office-select selection=sellingOffice prompt="Select an office"}}
  {{/if}}

  <h2>Staffing Offices</h2>
  <div class="officeList">
    {{#each officeCheckbox in selectedOffices}}
      <label>
        {{input checked=officeCheckbox.selected type="checkbox"}}
        {{officeCheckbox.name}}
      </label>
    {{/each}}
  </div>
  <br/>
</div>


<br/>
{{#if billable}}
  <div class="revenueTable">
    <h2>Revenue Rates</h2>

    <div class="table">
      <div class="tableRow tableHeader">
        <div class="tableCell">Role</div>
        <div class="tableCell">Weekly @ 100% Allocation</div>
        <div class="tableCell">Typical Allocation %</div>
        <div class="tableCell">Typical Staff Count</div>
        <div class="tableCell">Equivalent Hour Rate</div>
        <div class="tableCell">Equivalent Day Rate</div>
        <div class="tableCell">Typical Invoice</div>
      </div>
      <div class="tableRow">
        <div class="tableCell">Developer</div>
        {{#with typicalInvoice.developer}}
        <div class="tableCell">{{input value=rate type="number" placeholder="n/a"}}</div>
        <div class="tableCell">{{input value=allocationPercent type="number" placeholder="n/a"}}</div>
        <div class="tableCell">{{input value=count type="number" placeholder="n/a"}}</div>
        <div class="tableCell"><span>{{equivalentHourlyRate}}</span></div>
        <div class="tableCell"><span>{{equivalentDayRate}}</span></div>
        <div class="tableCell"><span>{{perInvoice}}</span></div>
        {{/with}}
      </div>
      <div class="tableRow tableHeader">
        <div class="tableCell">Role</div>
        <div class="tableCell">Weekly @ 100% Allocation</div>
        <div class="tableCell">Typical Allocation %</div>
        <div class="tableCell">Typical Staff Count</div>
        <div class="tableCell">Equivalent Hour Rate</div>
        <div class="tableCell">Equivalent Day Rate</div>
        <div class="tableCell">Typical Invoice</div>
      </div>
      <div class="tableRow">
        <div class="tableCell">Designer</div>
        {{#with typicalInvoice.designer}}
        <div class="tableCell">{{input value=rate type="number" placeholder="n/a"}}</div>
        <div class="tableCell">{{input value=allocationPercent type="number" placeholder="n/a"}}</div>
        <div class="tableCell">{{input value=count type="number" placeholder="n/a"}}</div>
        <div class="tableCell"><span>{{equivalentHourlyRate}}</span></div>
        <div class="tableCell"><span>{{equivalentDayRate}}</span></div>
        <div class="tableCell"><span>{{perInvoice}}</span></div>
        {{/with}}
      </div>
      <div class="tableRow tableHeader">
        <div class="tableCell">Role</div>
        <div class="tableCell">Weekly @ 100% Allocation</div>
        <div class="tableCell">Typical Allocation %</div>
        <div class="tableCell">Typical Staff Count</div>
        <div class="tableCell">Equivalent Hour Rate</div>
        <div class="tableCell">Equivalent Day Rate</div>
        <div class="tableCell">Typical Invoice</div>
      </div>
      <div class="tableRow">
        <div class="tableCell">Principal</div>
        {{#with typicalInvoice.principal}}
        <div class="tableCell">{{input value=rate type="number" placeholder="n/a"}}</div>
        <div class="tableCell">{{input value=allocationPercent type="number" placeholder="n/a"}}</div>
        <div class="tableCell">{{input value=count type="number" placeholder="n/a"}}</div>
        <div class="tableCell"><span>{{equivalentHourlyRate}}</span></div>
        <div class="tableCell"><span>{{equivalentDayRate}}</span></div>
        <div class="tableCell"><span>{{perInvoice}}</span></div>
        {{/with}}
      </div>
      <div class="tableRow tableHeader productManager">
        <div class="tableCell">Role</div>
        <div class="tableCell">Weekly @ 100% Allocation</div>
        <div class="tableCell">Typical Allocation %</div>
        <div class="tableCell">Typical Staff Count</div>
        <div class="tableCell">Equivalent Hour Rate</div>
        <div class="tableCell">Equivalent Day Rate</div>
        <div class="tableCell">Typical Invoice</div>
      </div>
      <div class="tableRow">
        <div class="tableCell">Product Manager</div>
        {{#with typicalInvoice.productManager}}
        <div class="tableCell">{{input value=rate type="number" placeholder="n/a"}}</div>
        <div class="tableCell">{{input value=allocationPercent type="number" placeholder="n/a"}}</div>
        <div class="tableCell">{{input value=count type="number" placeholder="n/a"}}</div>
        <div class="tableCell"><span>{{equivalentHourlyRate}}</span></div>
        <div class="tableCell"><span>{{equivalentDayRate}}</span></div>
        <div class="tableCell"><span>{{perInvoice}}</span></div>
        {{/with}}
      </div>
      <div class="tableRow totalRow">
        <div class="tableCell"></div>
        <div class="tableCell"></div>
        <div class="tableCell"></div>
        <div class="tableCell"></div>
        <div class="tableCell"></div>
        <div class="tableCell">Total</div>
        <div class="tableCell"><span>{{typicalInvoice.total}}</span></div>
      </div>
    </div>
  </div>
{{/if}}


  <button {{action 'save'}}>Save</button>
  <button {{action 'cancel'}}>Cancel</button>

</div>
