<a href="#" class="logo"></a>
<div class="user-actions">
  {{#each link in view.bottom_links}}
    <div class="global-settings">
      <a {{bind-attr href="link.url"}} {{bind-attr title="link.link_text"}}>
        <i>{{link.icon}}</i>
      </a>
    </div>
  {{/each}}
  <div class="global-logout"><a href="/#/sign_out"><i>&#59201;</i></a></div>
</div>
<ul class="nav-links">
  {{#each link in view.top_links}}
    <li {{bind-attr class="link.classes"}}>
      <a {{bind-attr href="link.url"}} {{bind-attr title="link.link_text"}}>
        <i>{{link.icon}}</i>
        {{link.title}}
      </a>
    </li>
  {{/each}}
</ul>
