{{input value=searchProxy placeholder='Search for projects'}}

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Selling Office</th>
      <th>Revenue Thingie</th>
    </tr>
  </thead>

  <tbody>
    {{#each project in content}}
    <tr>
      <td> {{project.name}} </td>
      <td> {{project.startDate}} </td>
      <td> {{project.endDate}} </td>
      <td> {{project.sellingOffice}} </td>
      <td> $billz </td>
    </tr>
    {{/each}}
  </tbody>
</table>
