{{input value=searchProxy placeholder='Search for projects'}}
<br/>

{{will-paginate route='projects' data=content}}

{{office-select value=office_id prompt="Select an office"}}

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Selling Office</th>
      <th>Revenue Thingie</th>
    </tr>
  </thead>

  <tbody>
    {{#each project in content}}
    <tr>
      <td> {{#link-to 'project' project.id}}{{project.name}}{{/link-to}} </td>
      <td> {{project.startDate}} </td>
      <td> {{project.endDate}} </td>
      <td> {{project.sellingOffice.name}} </td>
      <td> $billz </td>
    </tr>
    {{/each}}
  </tbody>
</table>

