{{#link-to 'projects'}}Back to list{{/link-to}} <br>

<article id='project-detail'>

  <section role="title">
    <header>
      <h2>{{name}}</h2>
      {{date-range startDate=startDate endDate=endDate format='MMMM Do, YYYY'}}
    </header>

    <ul class='actions'>
      <li>
        {{#if model.archived}}
          <button {{action 'toggleArchived'}}>Unarchive</button>
        {{else}}
          <button {{action 'toggleArchived'}}>Archive</button>
        {{/if}}
      </li>
      <li> {{#link-to 'project-edit' model class='button'}}Edit{{/link-to}} </li>
    </ul>
  </section>

  <section role="overview">

    <div class='data-list'>
      <div class='row'>
        <div class='label'> <strong>Billable:</strong></div>
        <div class='data'> {{yep-nope billable}} </div>
      </div>

      {{#if billable}}
        <div class='row'>
          <div class='label'><strong> Selling: </strong></div>
          <div class='data'> {{or-idk sellingOffice.name}} </div>
        </div>
      {{/if}}

      <div class='row'>
        <div class='label'><strong> Staffing: </strong></div>
        <div class='data'> {{comma-separated offices 'name'}} </div>
      </div>

      <div class='row'>
        <div class='label'><strong> Allocations: </strong></div>
        <div class='data'> {{comma-separated people 'name'}} </div>
      </div>

      <div class='row'>
        <div class='label'><strong> Rates: </strong></div>
        {{#if rates}}
          <ul class='data'>
            {{#if rates.developer}}
              <li>Developer: ${{rates.developer}}/week</li>
            {{/if}}
            {{#if rates.designer}}
              <li>Designer: ${{rates.designer}}/week</li>
            {{/if}}
            {{#if rates.principal}}
              <li>Principal: ${{rates.principal}}/week</li>
            {{/if}}
            {{#if rates.productManager}}
              <li>Product Manager: ${{rates.productManager}}/week</li>
            {{/if}}
          </ul>
        {{else}}
          <div class='data'>tbd</div>
        {{/if}}
      </div>
    </div>
  </section>

</article>
