{{#link-to 'projects'}}Back to list{{/link-to}} <br>

Name: {{input value=name}} <br/>

Description: {{input value=description}} <br/>

<label>
  {{input checked=provisional type="checkbox"}}
  Provisional
</label>
<br/>

<label>
{{input checked=true type="checkbox"}}
  Investment Fridays
</label>
<br/>

Dates: {{edit-date value=startDate}} - {{edit-date value=endDate}} <br/>

Selling Office: {{office-select value=sellingOffice.id}} <br/> <br/>

{{! TODO: staffing offices}}

Rates: <br/>
{{! TODO: make daily}}
Developer: {{input value=rates.developer}} <br/>
Designer: {{input value=rates.designer}}<br/>
Principal: {{input value=rates.principal}}<br/>
Product Mgr: {{input value=rates.productManager}}<br/>
