<br/>
<br/>
<!-- Let's pretend that the projects-across-offices-bar-graph-is-going-to-be-here-in-the-future -->

{{input value=searchProxy placeholder='Search for projects' class='searchBar' action='search'}}<p {{action 'search'}} class="searchIcon">&#128269;</p>
 <button class="newProject">{{#link-to 'projects-new'}} Add New Project {{/link-to}}</button>


 <div class="hangRight">{{office-select value=officeProxy prompt="Select an office" }}</div>
 <label class="hangRight">
   {{input checked=archivedProxy type="checkbox"}}Show Archived
 </label>

 <div class="hangRight cleared">{{will-paginate route='projects' data=content}}</div>

<br/>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Provisional</th>
      <th>Investment Fridays</th>
      <th>Offices</th>
    </tr>
  </thead>

  <tbody>
    {{#each project in content}}
    <tr>
      <td> {{#link-to 'project' project.id}}{{project.name}}{{/link-to}} </td>
      <td> {{format-date project.startDate}} </td>
      <td> {{format-date project.endDate}} </td>
      <td> {{check-mark project.provisional}} </td>
      <td> {{check-mark project.investmentFridays}} </td>
      <td> {{staffing-offices project}} </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<br/>

<div class="hangLeft"><a href="{{unbound ENV.apiHost}}/reports/revenue.csv">Download Revenue Report</a></div>

<div class="hangRight">{{will-paginate route='projects' data=content}}</div><br/><br/>
<div class="hangRight cleared">{{office-select value=officeProxy prompt="Select an office"}}</div>
