
<div class="projectView">
  <nav>
    <a href="#projectOverview">Overview</a>

    <a href="#projectStaffing">Staffing</a>

    <a href="#projectBilling">Billing</a>
    <div style="clear: both;"/>
  </nav>
  <div class="contentPane">
    <h2>{{name}}</h2>
    <!-- Commented out because it's not working for some reason...
    {{format-date project.startDate}} —{{format-date project.endDate}}
    -->



    <button class="edit" {{#link-to 'project-edit' model}}Edit{{/link-to}}</button>

    {{#if model.archived}}
      <button {{action 'toggleArchived'}}>Unarchive</button>
    {{else}}
      <button {{action 'toggleArchived'}}>Archive</button>
    {{/if}}
    {{#link-to 'projects' class="backToList"}}Back to list{{/link-to}}
    <div id="projectOverview">
      <h3>Overview</h3>
      <table>
        <tr>
          <th>Billable:</th>
          <td>{{#if billable}}Yes{{else}}No{{/if}}</td>
        </tr>
<!--         <tr>
          <th>Selling:</th>
          <td></td>
        </tr> -->
        <tr>
          <th>Staffing:</th>
          <td>
            <ul class="comma-separated">
              {{#each office in offices}}
                <li>{{office.name}}</li>
              {{/each}}
            </ul>
          </td>
        </tr>
        <tr>
          <th>Allocations:</th>
          <td>
            <ul class="comma-separated">
              {{#each person in people}}
                <li>{{person.name}}</li>
              {{/each}}
            </ul>
          </td>
        </tr>
        <tr>
          <th>Rates:</th>
          <td>
            <ul>
            {{#if rates.developer}}
              <li>Developer: ${{rates.developer}}/week</li>
            {{/if}}
            {{#if rates.designer}}
              <li>Designer: ${{rates.designer}}/week</li>
            {{/if}}
            {{#if rates.principal}}
              <li>Principal: ${{rates.principal}}/week</li>
            {{/if}}
            {{#if rates.productManager}}
              <li>Product Manager: ${{rates.productManager}}/week</li>
            {{/if}}
          </ul>
          </td>
        </tr>
      </table>
    </div>

<!--     <div id="projectStaffing">
      <h3>Staffing</h3>
    </div>
      <div class="staffingList">
        <h4>Current Month - April 2014</h4>
        <table>
          <tr>
          <th></th>
          <td></td>
          </tr>
        </table>
      </div>
      <div class="staffingList">
        <h4>Next Month - May 2014</h4>
      </div>
      <div class="staffingList">
        <h4>Total for Project</h4>
      </div>
      <div style="clear: both;"></div>
    <div id="projectBilling">
      <h3>Billing</h3>
    </div>

    Staffing:
    <ul>
      {{#each office in offices}}
        <li>{{office.name}}</li>
      {{/each}}
    </ul>

    Peeps:
    <ul>
      {{#each person in people}}
        <li>{{person.name}}</li>
      {{/each}}
    </ul>

    Rates:
    <ul>
      {{#if rates.developer}}
        <li>Developer: {{rates.developer}}</li>
      {{/if}}
      {{#if rates.designer}}
        <li>Designer: {{rates.designer}}</li>
      {{/if}}
      {{#if rates.principal}}
        <li>Principal: {{rates.principal}}</li>
      {{/if}}
      {{#if rates.productManager}}
        <li>Product Manager: {{rates.productManager}}</li>
      {{/if}}
    </ul> -->
  </div>
</div>
