<div class='search-controls'>
  <div class='search'>
    {{search-field placeholder='Search for projects'
                   query=query
                   search=search
                   results=searchResults}}
    {{#link-to 'projects-new' class='button'}} Add New Project {{/link-to}}
  </div>

  <div class='filter'>
    {{view Ember.Select content=searchFilters
                        optionLabelPath='content.label'
                        optionValuePath='content.value'
                        selection=selectedFilter
                        class='project-filter'}}


    {{will-paginate route='projects' data=content}}
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Provisional</th>
      <th>Investment Fridays</th>
      <th>Offices</th>
    </tr>
  </thead>

  <tbody>
    {{#each project in content}}
    <tr>
      <td> {{#link-to 'project' project.id}}{{project.name}}{{/link-to}} </td>
      <td> {{format-date project.startDate}} </td>
      <td> {{format-date project.endDate}} </td>
      <td> {{check-mark project.provisional}} </td>
      <td> {{check-mark project.investmentFridays}} </td>
      <td> {{staffing-offices project}} </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<br/>

<div class="hangLeft"><a href="{{unbound ENV.apiHost}}/reports/revenue.csv">Download Revenue Report</a></div>
<br/>
<br/>
